*.o
*~
haplomat
Err.dat
Log.dat
results/
test*
BuildReports.py
prepareData/HLA-A.txt
prepareData/HLA-B.txt
prepareData/HLA-C.txt
prepareData/HLA-DPA1.txt
prepareData/HLA-DPB1.txt
prepareData/HLA-DQA.txt
prepareData/HLA-DQA1.txt
prepareData/HLA-DQB1.txt
prepareData/HLA-DRB1.txt
prepareData/HLA-DRB3.txt
prepareData/HLA-DRB4.txt
prepareData/HLA-DRB5.txt
prepareData/OneElementG.txt
prepareData/allAlleles.txt
prepareData/alpha.v3.txt
prepareData/hla_nom_g.txt
prepareData/hla_nom_p.txt
data/allAllelesExpanded.txt
data/alleleList.txt
data/code2dna.txt
data/H1g.txt
data/H1.txt
data/H2.txt
data/P.txt
